In [27]:
import numpy as np
import pandas as pd

In [28]:
df=pd.read_csv(r'E:\machine learning coaching\diabetes-dataset.csv')

In [29]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2,138,62,35,0,33.6,0.127,47,1
1,0,84,82,31,125,38.2,0.233,23,0
2,0,145,0,0,0,44.2,0.630,31,1
3,0,135,68,42,250,42.3,0.365,24,1
4,1,139,62,41,480,40.7,0.536,21,0

In [30]:
df.shape

(2000, 9)

In [31]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [32]:
df.Outcome.value_counts()

0    1316
1     684
Name: Outcome, dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               2000 non-null   int64
 1   Glucose                   2000 non-null   int64
 2   BloodPressure             2000 non-null   int64
 3   SkinThickness             2000 non-null   int64
 4   Insulin                   2000 non-null   int64
 5   BMI                       2000 non-null   float64
 6   DiabetesPedigreeFunction  2000 non-null   float64
 7   Age                       2000 non-null   int64
 8   Outcome                   2000 non-null   int64
dtypes: float64(2), int64(7)
memory usage: 140.8 KB

In [34]:
df.iloc[:,:-1].isin([0]).sum()

Pregnancies                 301
Glucose                      13
BloodPressure                90
SkinThickness               573
Insulin                     956
BMI                          28
DiabetesPedigreeFunction      0
Age                           0
dtype: int64

In [35]:
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.120405,0.149672,-0.063375,-0.076600,0.019475,-0.025453,0.539457,0.224437
Glucose,0.120405,1.000000,0.138044,0.062368,0.320371,0.226864,0.123243,0.254496,0.458421
BloodPressure,0.149672,0.138044,1.000000,0.198800,0.087384,0.281545,0.051331,0.238375,0.075958
SkinThickness,-0.063375,0.062368,0.198800,1.000000,0.448859,0.393760,0.178299,-0.111034,0.076040
Insulin,-0.076600,0.320371,0.087384,0.448859,1.000000,0.223012,0.192719,-0.085879,0.120924
BMI,0.019475,0.226864,0.281545,0.393760,0.223012,1.000000,0.125719,0.038987,0.276726
DiabetesPedigreeFunction,-0.025453,0.123243,0.051331,0.178299,0.192719,0.125719,1.000000,0.026569,0.155459
Age,0.539457,0.254496,0.238375,-0.111034,-0.085879,0.038987,0.026569,1.000000,0.236509
Outcome,0.224437,0.458421,0.075958,0.076040,0.120924,0.276726,0.155459,0.236509,1.000000

In [36]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,3.703500,121.182500,69.145500,20.935000,80.254000,32.193000,0.470930,33.090500,0.342000
std,3.306063,32.068636,19.188315,16.103243,111.180534,8.149901,0.323553,11.786423,0.474498
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,63.500000,0.000000,0.000000,27.375000,0.244000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,40.000000,32.300000,0.376000,29.000000,0.000000
75%,6.000000,141.000000,80.000000,32.000000,130.000000,36.800000,0.624000,40.000000,1.000000
max,17.000000,199.000000,122.000000,110.000000,744.000000,80.600000,2.420000,81.000000,1.000000

In [37]:
for col in ['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']:
    df[col] = df[col].replace( { 0 : df[col].median() } )

In [38]:
df.iloc[:,:-1].isin([0]).sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [39]:
df_final=df.loc[:,['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]
df_final.head()

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
0          2.0    138.0           62.0           35.0     40.0  33.6
1          3.0     84.0           82.0           31.0    125.0  38.2
2          3.0    145.0           72.0           23.0     40.0  44.2
3          3.0    135.0           68.0           42.0    250.0  42.3
4          1.0    139.0           62.0           41.0    480.0  40.7

In [40]:
x=df_final.values
y=df.Outcome.values

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
std = StandardScaler()

std_train = std.fit_transform(x_train)
std_test = std.transform(x_test)

In [45]:
from sklearn.ensemble import RandomForestClassifier

In [46]:
rf = RandomForestClassifier(n_estimators=20,class_weight={1:3})

rf.fit(x_train,y_train)

rf_train_score = rf.score(x_train,y_train)
rf_test_score = rf.score(x_test,y_test)

print('train_score=',rf_train_score)
print('test_score=',rf_test_score)

train_score= 0.999375
test_score= 0.96

In [47]:
import pickle

In [48]:
f = open('diabetes.pkl','wb')
pickle.dump(rf,f)
f.close()

In [49]:
f = open('diabetes.pkl','rb')
rf = pickle.load(f)
f.close()

In [54]:
df[:1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,2.0,138.0,62.0,35.0,40.0,33.6,0.127,47,1

In [50]:
sample=df.iloc[:1,:-3]
sample

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI
0          2.0    138.0           62.0           35.0     40.0  33.6

In [51]:
sampleDataFeatures = np.asarray(sample)
sampleDataFeatures

array([[  2. , 138. ,  62. ,  35. ,  40. ,  33.6]])

In [52]:
prediction = rf.predict(sampleDataFeatures)
print('prediction=',prediction)

prediction= [1]